<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：命名空间，用于隔离sql，实际使用中，与mapper绑定 -->
<mapper namespace="com.itdr.mapper.IndexMapper">
    <select id="getOne" parameterType="string" resultType="com.itdr.pojo.Users">
        select id,uname,upsd from users where uname=#{uname}
    </select>
</mapper>