<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itdr.mapper.IndexMapper">

    <resultMap id="rc" type="ReplyContent">

    </resultMap>

    <!--增加一条新数据-->
    <insert id="addOne" parameterType="ReplyContent">
        insert into replycontent values
        (null,#{keyword},#{words},#{reply},#{cid},now(),now())
    </insert>


    <delete id="deleteOne" parameterType="integer">
        delete from replycontent where id = #{id}
    </delete>

    <!--获取默认回复-->
    <select id="getDefaultReply" resultType="string">
        select reply from replycontent where cid = 1
    </select>

    <!--获取自动回复-->
    <select id="getAutoReply" resultType="string">
        select reply from replycontent where cid = 2
    </select>

    <!--根据关键词获取回复-->
    <select id="getReplyByKeyWord" parameterType="string" resultType="string">
        select reply from replycontent where keyword = #{keyword}
    </select>

    <!--根据模糊字获取回复-->
    <select id="getReplyByWords" parameterType="string" resultType="string">
        select reply from replycontent where words like #{wordss}
    </select>

    <!--获取所有数据-->
    <select id="getAll" resultType="ReplyContent">
        select id,keyword,words,reply,cid,create_time,update_time from replycontent
    </select>

</mapper>
