<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itdr.mapper.IndexMapper">
    <select id="getDeflutReply" resultType="string">
        select reply from replycontent where cid = 1
    </select>

    <select id="getAutoReply" resultType="string">
        select reply from replycontent where cid = 2
    </select>

    <select id="getReply" parameterType="map" resultType="string">
        select reply from replycontent
        <where>
            <if test="param1 != null">
                keyword = #{param1}
            </if>
            <if test="param2 != null">
                and
                words = #{param2}
            </if>
        </where>
    </select>
</mapper>
